In [5]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [6]:
df = pd.read_csv('../data/clean_data.csv')

In [7]:
df.head()

,country,year,region,protestnumber,startday,startmonth,startyear,endday,endmonth,endyear,...,labor wage dispute,land farm issue,police brutality,"political behavior, process","price increases, tax policy",removal of politician,social restrictions,startdate,enddate,duration
0,Canada,1990,North America,1,15.0,1.0,1990.0,15.0,1.0,1990.0,...,1,0,0,1,0,0,0,1990-01-15,1990-01-15,0 days 00:00:00.000000000
1,Canada,1990,North America,2,25.0,6.0,1990.0,25.0,6.0,1990.0,...,0,0,0,1,0,0,0,1990-06-25,1990-06-25,0 days 00:00:00.000000000
2,Canada,1990,North America,3,1.0,7.0,1990.0,1.0,7.0,1990.0,...,0,0,0,1,0,0,0,1990-07-01,1990-07-01,0 days 00:00:00.000000000
3,Canada,1990,North America,4,12.0,7.0,1990.0,6.0,9.0,1990.0,...,0,1,0,0,0,0,0,1990-07-12,1990-09-06,56 days 00:00:00.000000000
4,Canada,1990,North America,5,14.0,8.0,1990.0,15.0,8.0,1990.0,...,0,0,0,1,0,0,0,1990-08-14,1990-08-15,1 days 00:00:00.000000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14474 entries, 0 to 14473
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      14474 non-null  object
 1   year                         14474 non-null  int64
 2   region                       14474 non-null  object
 3   protestnumber                14474 non-null  int64
 4   startday                     14474 non-null  float64
 5   startmonth                   14474 non-null  float64
 6   startyear                    14474 non-null  float64
 7   endday                       14474 non-null  float64
 8   endmonth                     14474 non-null  float64
 9   endyear                      14474 non-null  float64
 10  protesterviolence            14474 non-null  float64
 11  participants                 14474 non-null  int64
 12  notes                        14474 non-null  object
 13  stateresponse                14474 non-null  object
 14  labor wage dispute           14474 non-null  int64
 15  land farm issue              14474 non-null  int64
 16  police brutality             14474 non-null  int64
 17  political behavior, process  14474 non-null  int64
 18  price increases, tax policy  14474 non-null  int64
 19  removal of politician        14474 non-null  int64
 20  social restrictions          14474 non-null  int64
 21  startdate                    14474 non-null  object
 22  enddate                      14474 non-null  object
 23  duration                     14474 non-null  object
dtypes: float64(7), int64(10), object(7)
memory usage: 2.7+ MB

# Text Cleaning

# EDA on Text

# Vectorize Text

In [9]:
# Note that much of this section of code comes from Heather's review 10/19
text = df[['notes']]

In [12]:
text.shape

(14474, 1)

In [13]:
# Instantiate and set params for TFIDF
tf = TfidfVectorizer(max_features = 3000, ngram_range = (1,2), stop_words = 'english', max_df = 0.9, min_df = 3)

In [15]:
# Fit transform the data
test_tf = tf.fit_transform(text['notes'])

In [16]:
# Create a new data frame vectorized text
df_text_tf = pd.DataFrame(test_tf.todense(), columns=tf.get_feature_names())

In [17]:
# Reset indicies for all dataframes
df_text_tf.reset_index(drop=True, inplace=True)

In [18]:
# Add the vectorized text back to our original data frame
combined_df = pd.concat([df, df_text_tf], axis =1)
combined_df.head(1)

,country,year,region,protestnumber,startday,startmonth,startyear,endday,endmonth,endyear,...,yesterday morning,yesterday protest,young,young men,young people,youth,youths,yugoslavia,zimbabwe,zone
0,Canada,1990,North America,1,15.0,1.0,1990.0,15.0,1.0,1990.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# Drop the original notes column
combined_df.drop(columns = 'notes', inplace=True)

In [ ]:
# Write to csv
combined_df.to_csv('../data/vectorized_text_combined.csv')