In [20]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
import time

In [21]:
df = pd.read_csv('../data/clean_data.csv')

In [22]:
df.head()

,country,year,region,protestnumber,startday,startmonth,startyear,endday,endmonth,endyear,...,labor wage dispute,land farm issue,police brutality,"political behavior, process","price increases, tax policy",removal of politician,social restrictions,startdate,enddate,duration
0,Canada,1990,North America,1,15.0,1.0,1990.0,15.0,1.0,1990.0,...,1,0,0,1,0,0,0,1990-01-15,1990-01-15,0 days 00:00:00.000000000
1,Canada,1990,North America,2,25.0,6.0,1990.0,25.0,6.0,1990.0,...,0,0,0,1,0,0,0,1990-06-25,1990-06-25,0 days 00:00:00.000000000
2,Canada,1990,North America,3,1.0,7.0,1990.0,1.0,7.0,1990.0,...,0,0,0,1,0,0,0,1990-07-01,1990-07-01,0 days 00:00:00.000000000
3,Canada,1990,North America,4,12.0,7.0,1990.0,6.0,9.0,1990.0,...,0,1,0,0,0,0,0,1990-07-12,1990-09-06,56 days 00:00:00.000000000
4,Canada,1990,North America,5,14.0,8.0,1990.0,15.0,8.0,1990.0,...,0,0,0,1,0,0,0,1990-08-14,1990-08-15,1 days 00:00:00.000000000

In [25]:
import time
import datetime
def datetime_to_int(dt):
    return int(dt.strftime("%Y%m%d%H%M%S"))

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14474 entries, 0 to 14473
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      14474 non-null  object
 1   year                         14474 non-null  int64
 2   region                       14474 non-null  object
 3   protestnumber                14474 non-null  int64
 4   startday                     14474 non-null  float64
 5   startmonth                   14474 non-null  float64
 6   startyear                    14474 non-null  float64
 7   endday                       14474 non-null  float64
 8   endmonth                     14474 non-null  float64
 9   endyear                      14474 non-null  float64
 10  protesterviolence            14474 non-null  float64
 11  participants                 14474 non-null  int64
 12  notes                        14474 non-null  object
 13  stateresponse                14474 non-null  object
 14  labor wage dispute           14474 non-null  int64
 15  land farm issue              14474 non-null  int64
 16  police brutality             14474 non-null  int64
 17  political behavior, process  14474 non-null  int64
 18  price increases, tax policy  14474 non-null  int64
 19  removal of politician        14474 non-null  int64
 20  social restrictions          14474 non-null  int64
 21  startdate                    14474 non-null  object
 22  enddate                      14474 non-null  object
 23  duration                     14474 non-null  object
dtypes: float64(7), int64(10), object(7)
memory usage: 2.7+ MB

# Text Cleaning

In [39]:
import nltk
from nltk.stem import WordNetLemmatizer
import string

def tokenize(text):
    text = ''.join([ch for ch in text if ch not in string.punctuation])
    tokens = nltk.word_tokenize(text)
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(token) for token in tokens]

In [40]:
tf_vectorizer = TfidfVectorizer(tokenizer=tokenize,
                                stop_words = 'english', 
                                lowercase = True,
                                ngram_range = (1,2),
                                max_df = 0.5, 
                                min_df = 10)

In [41]:
df['notes'] = df['notes'].str.replace(r'(\b\w{1,2}\b)', '') # for words removing 1 or 2 letter words

In [42]:
X=df['notes']

In [43]:
tf_vectorizer.fit(X)

/Users/sonalibhatia/opt/anaconda3/lib/python3.8/site-packages/sklearn/feature_extraction/text.py:484: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn("The parameter 'token_pattern' will not be used"
/Users/sonalibhatia/opt/anaconda3/lib/python3.8/site-packages/sklearn/feature_extraction/text.py:383: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'u', 'wa'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

TfidfVectorizer(max_df=0.5, min_df=10, ngram_range=(1, 2), stop_words='english',
                tokenizer=<function tokenize at 0x7fe61123eca0>)

In [44]:
X_vc=tf_vectorizer.transform(X)

In [45]:
tf_vectorizer.get_feature_names()[:200]

['000',
 '000 000',
 '000 according',
 '000 activist',
 '000 angry',
 '000 anti',
 '000 class',
 '000 demonstrator',
 '000 doctor',
 '000 ethnic',
 '000 farmer',
 '000 gathered',
 '000 interior',
 '000 job',
 '000 marched',
 '000 marcher',
 '000 member',
 '000 officer',
 '000 opposition',
 '000 paris',
 '000 participant',
 '000 people',
 '000 police',
 '000 pro',
 '000 protest',
 '000 protester',
 '000 protestors',
 '000 public',
 '000 resident',
 '000 riot',
 '000 romanian',
 '000 specially',
 '000 striking',
 '000 strong',
 '000 student',
 '000 supporter',
 '000 teacher',
 '000 took',
 '000 turned',
 '000 union',
 '000 woman',
 '000 worker',
 '000 year',
 '000s',
 '000s individual',
 '100',
 '100 arrested',
 '100 demonstrator',
 '100 injured',
 '100 member',
 '100 participant',
 '100 people',
 '100 police',
 '100 protester',
 '100 resident',
 '100 student',
 '1000',
 '1000 people',
 '100000',
 '100000 people',
 '100000 protester',
 '10th',
 '110',
 '11am',
 '11th',
 '120',
 '120000',
 '125',
 '12th',
 '130',
 '135',
 '13th',
 '140',
 '145',
 '14th',
 '150',
 '150 people',
 '150 protester',
 '150000',
 '150000 people',
 '15th',
 '15th month',
 '160',
 '16th',
 '170',
 '170000',
 '17th',
 '180',
 '18th',
 '1973',
 '1980',
 '1980 ensuing',
 '1980s',
 '1980s 90',
 '1982',
 '1986',
 '1987',
 '1989',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1995 occasional',
 '1995 tortured',
 '1996',
 '1997',
 '1998',
 '1999',
 '19th',
 '1st',
 '1st 15th',
 '200',
 '200 300',
 '200 day',
 '200 demonstrator',
 '200 mile',
 '200 people',
 '200 police',
 '200 protester',
 '200 student',
 '2000',
 '200000',
 '200000 people',
 '2001',
 '2002',
 '2003',
 '2003 time',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2011 ha',
 '2012',
 '2013',
 '2014',
 '2014 2016',
 '2014 information',
 '2015',
 '2015 year',
 '2016',
 '2016 celebration',
 '2016 dresden',
 '2016 want',
 '2017',
 '2017 ha',
 '2017 mass',
 '2018',
 '2020',
 '2021',
 '2021 currently',
 '20th',
 '21st',
 '230',
 '240',
 '24th',
 '250',
 '250 mile',
 '250 people',
 '250000',
 '250000 people',
 '25th',
 '26th',
 '27th',
 '27th consecutive',
 '27th night',
 '280',
 '28th',
 '29th',
 '2nd',
 '2pm',
 '300',
 '300 demonstrator',
 '300 mile',
 '300 people',
 '300 protester',
 '300 student',
 '3000',
 '300000',
 '30am',
 '30th',
 '330',
 '340',
 '350',
 '350000',
 '3pm',
 '3rd',
 '400',
 '400 people',
 '400 protester',
 '400000',
 '406th',
 '406th protest',
 '450']

In [46]:
X_clean_df=pd.DataFrame(X_vc.todense(), 
                          columns=tf_vectorizer.get_feature_names())

In [47]:
X_clean_df.shape

(14474, 12819)

In [48]:
X_clean_df.columns

Index(['000', '000 000', '000 according', '000 activist', '000 angry',
       '000 anti', '000 class', '000 demonstrator', '000 doctor', '000 ethnic',
       ...
       'zero', 'zhytomyr', 'zhytomyr cherkasy', 'zia', 'zimbabwe',
       'zimbabwean', 'zone', 'zongo', 'zulu', 'zuma'],
      dtype='object', length=12819)

# EDA on Text

# Vectorize Text

In [9]:
# Note that much of this section of code comes from Heather's review 10/19
text = df[['notes']]

In [12]:
text.shape

(14474, 1)

In [13]:
# Instantiate and set params for TFIDF
tf = TfidfVectorizer(max_features = 3000, ngram_range = (1,2), stop_words = 'english', max_df = 0.9, min_df = 3)

In [15]:
# Fit transform the data
test_tf = tf.fit_transform(text['notes'])

In [16]:
# Create a new data frame vectorized text
df_text_tf = pd.DataFrame(test_tf.todense(), columns=tf.get_feature_names())

In [17]:
# Reset indicies for all dataframes
df_text_tf.reset_index(drop=True, inplace=True)

In [18]:
# Add the vectorized text back to our original data frame
combined_df = pd.concat([df, df_text_tf], axis =1)
combined_df.head(1)

,country,year,region,protestnumber,startday,startmonth,startyear,endday,endmonth,endyear,...,yesterday morning,yesterday protest,young,young men,young people,youth,youths,yugoslavia,zimbabwe,zone
0,Canada,1990,North America,1,15.0,1.0,1990.0,15.0,1.0,1990.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# Drop the original notes column
combined_df.drop(columns = 'notes', inplace=True)

In [ ]:
# Write to csv
combined_df.to_csv('../data/vectorized_text_combined.csv')